name: CI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Build
      run: |
        npm install
        npm run-script build
      env:
        FB_API_KEY: ${{ secrets.FB_API_KEY }}
        FB_AUTH_DOMAIN: ${{ secrets.FB_AUTH_DOMAIN }}

    - name: Deploy
      uses: krielgn/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
